html, body {
    height: 100%;
}

body {
    background: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    min-height: 610px;
}

#flexin {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#dotcanvas {
    background-color: rgb(14, 14, 14);
    width: 100vw;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    border: none;
}

footer {
    width: 100%;
    flex-basis: 10%;
    min-height: 70px;
    max-height: 120px;
    font-size: 1rem;
    line-height: 1.3;
    color: #616161;
    background: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

footer .thedude,
footer .links {
    margin:0;
    padding: 30px;
    display: flex;
}

footer li {
    list-style: none;
    margin:0;
    padding:0 30px 0 0;
}

footer ul:first-child li:first-child {
    font-weight: 600;
    padding-right: 10px;
}

footer li:last-child {
    padding:0;
}

footer li, footer a {
    -moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
}

footer a:link, footer a:visited {
    text-decoration: line-through;
    color: #616161;
}

footer a:hover, footer a:active {
    text-decoration: none;
    color: #616161;
}

footer:hover li,
footer:hover a:link, 
footer:hover a:visited,
footer:hover a:hover, 
footer:hover a:active {
    color: #DFE1E6;
}


@media screen and (max-width: 800px) {
    footer {
        align-items: flex-start;
        flex-basis: auto;
        min-height: auto;
        max-height: none;
    }
    footer .thedude,
    footer .links {
        display: block;
    }
}
@media screen and (max-width: 450px) {
    footer {
        display: block;
    }
    footer ul:first-child {
        padding-bottom: 0;
    }

}




#floatin {
    text-align: center;
    position: absolute;
    padding:30px;
    z-index: 100;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */  
}

#floatin h1{
    color: #F4F4F4;
    font-weight: 900;
    letter-spacing: -0.25rem;
    margin: 0;
    padding: 0;
}

/* https://medium.com/@angelalagao/fluid-typography-868aa1346d9e */
/* 
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); 
*/
/* https://www.madebymike.com.au/writing/fluid-type-calc-examples/ */

#floatin h1 {
    font-size: 5.625rem;
}

@media screen and (min-width: 40rem) {
    #floatin h1 {
        font-size: calc(5.625rem + 13.125 * ((100vw - 40rem) / 80));
    }
}

@media screen and (min-width: 120rem) {
    #floatin h1 {
        font-size: 18.75rem;
    }
}

#floatin p {
    color: #c5c5c5;
    /* font-size: 42px; 27 */
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
    padding: 40px 0 0;
    font-size: 1.6875rem;
}

@media screen and (min-width: 40rem) {
    #floatin p {
        font-size: calc(1.6875rem + 0.9375 * ((100vw - 40rem) / 80));
    }
}

@media screen and (min-width: 120rem) {
    #floatin p {
        font-size: 2.625rem;
    }
}
