html, body {
    height: 100%;
}

canvas {
    border: none;
    background-color: rgb(14, 14, 14);
}

body {
    background-color: rgb(14, 14, 14);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#floater {
    position: absolute;
    z-index: 100;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */  
}

#floater h1{
    color: #F4F4F4;
    font-weight: 900;
    letter-spacing: -0.25rem;
    margin: 0;
    padding: 0;
}

/* https://medium.com/@angelalagao/fluid-typography-868aa1346d9e */
/* 
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); 
*/
/* https://www.madebymike.com.au/writing/fluid-type-calc-examples/ */

#floater h1 {
    font-size: 5.625rem;
}

@media screen and (min-width: 40rem) {
    #floater h1 {
        font-size: calc(5.625rem + 13.125 * ((100vw - 40rem) / 80));
    }
}

@media screen and (min-width: 120rem) {
    #floater h1 {
        font-size: 18.75rem;
    }
}

#floater p {
    color: #c5c5c5;
    /* font-size: 42px; 27 */
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
    padding: 40px 0 0;
}

#floater p {
    font-size: 1.6875rem;
}

@media screen and (min-width: 40rem) {
    #floater p {
        font-size: calc(1.6875rem + 0.9375 * ((100vw - 40rem) / 80));
    }
}

@media screen and (min-width: 120rem) {
    #floater p {
        font-size: 2.625rem;
    }
}

#info {
    margin:0;
    padding: 0;
    width: 100%;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    font-size: 16px;
    text-align: left;
    color: #616161;
    background: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    height: 10vh;
}
#info li {
    /* padding: 25px 30px; */
    list-style: none;
    font-weight: 300;
    padding-right: 30px;
}
#info li:first-child {
    padding-left: 30px;
    flex-grow: 1;
}
#info li span {
    font-weight: 600;
}

#info li, #info a {
    -moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
}

#info a:link, #info a:visited {
    text-decoration: line-through;
    color: #616161;
}
#info a:hover, #info a:active {
    text-decoration: none;
    color: #616161;
}

#info:hover li,
#info:hover a:link, 
#info:hover a:visited,
#info:hover a:hover, 
#info:hover a:active {
    color: #DFE1E6;
}

@media screen and (max-width: 980px) {
    #info{
        flex-wrap: wrap;
        text-align: center;
        min-height: 100px;
        line-height: 26px;
        justify-content: space-around;
    }
    #info li:first-child {
        flex-basis: 100%;
    }
    #info li:nth-child(2) {
        padding-left: 30px;
    }
}
@media screen and (max-width: 540px) {
    #info{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #info span {
        display: block;
    }
    #info li {
        padding: 20px 0px !important;
    }
}